body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.search-container {
    align-items: center; /* Centers children horizontally */
    margin: 20px;
    position: relative; /* Necessary for absolute positioning of result box */
}

#course-search {
    padding: 10px;
    width: 300px; /* Set the desired width */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

#search-button:hover {
    background-color: #0056b3;
}

.result-box {
    position: absolute; /* Keeps the result box positioned below the input */
    top: calc(100% + 5px); /* Position below the input with a small gap */
    left: 500px; /* Align to the left */
    right: 500px; /* Align to the right */
    background:  #0056b3;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    z-index: 1000;
    width: 300px; /* Match input width */
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Initially hidden */
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.result-box ul {
    margin: 0;
    padding: 0;
}

.result-box li {
    padding: 10px;
    cursor: pointer;
}

.result-box li:hover {
    background-color: #5e93d8;
    font-size: 20px;
}

.result-link {
    text-decoration: none;
    color: inherit;
}

.main {
    padding: 20px;
}

h2 {
    color: #333;
}

.featured-courses {
    margin: 20px;
}

.course-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

.video-section {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.responsive-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}
